<!DOCTYPE html>
<html lang=en>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Belmin Dervisevic">
    <title>404 - Not found</title>
    <link href="static/style.css" rel="stylesheet">

  </head>

  <body>
    <div class="wrapper">
        <div class="wrap_h2">
        <h1>404!</h1> <h2>The page you are looking for does not exist.</h2>
        <a class="nodeco" href="/"><div class="mybtn">Back home</div></a>
        </div>
      </div> <!-- Wrapper -->
    </div>
  </body>

</html>
