<!DOCTYPE html>
<html lang=en>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Belmin Dervisevic">
    <title>Hello!</title>
    <link href="static/style.css" rel="stylesheet">

  </head>

  <body>
    <div class="wrapper">
        <div class="wrap_h2">
        <h1>Hello!</h1> <h2>I'm Belmin and I'm learning flask.</h2>
        <h3>This website is powered by <a href="http://flask.pocoo.org/docs/1.0/" target="_new">flask.</a></h3>
        <p>Click<a class="nodeco" href="/404"> here</a> for a hard 404.</p>
        <br>
        <div class="line"></div>
        <h2 id="api">My REST API</h2>
        <p>View data: </p>
        <p><b>Enter '/api/yourstringthere' in the url to see whats stored in the REST API</b></p>
        <br>
        <p>Enter data: </p>
        <div class ="code">
          <p>$ curl https://flask-bd.herokuapp.com/api/[string] -d "data=your_value_here" -X PUT</p>
        </div>  
      </div>
      <br>
      <a class="nodeco" href="/api/belmin"><div class="mybtn">Example</div></a>
      </div> <!-- Wrapper -->
    </div>
  </body>

</html>
