<!DOCTYPE html>
<html lang=en>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Belmin Dervisevic">
    <title>Hello!</title>
    <link href="static/style.css" rel="stylesheet">

  </head>

  <body>
    <div class="wrapper">
        <div class="wrap_h2">
        <h1>Hello!</h1> <h2>I'm Belmin and I'm learning flask.</h2>
        <h3>This website is powered by <a href="http://flask.pocoo.org/docs/1.0/" target="_new">flask.</a></h3>
        <p>Click<a class="nodeco" href="/404"> here</a> for a hard 404.</p>
        <p><br><b>Enter '/api/yourstringthere' in the url to see whats stored in the REST API</b></p>
        </div>
      </div> <!-- Wrapper -->
    </div>
  </body>

</html>
